In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("client/files/questions.csv")

In [4]:
tmp = data.head(10)
tmp.to_csv('client/files/questions_test.csv', index=False)
tmp

,Unnamed: 0,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body,Tags
0,0,34727970,5774394.0,2016-01-11T17:52:23Z,NaN,-1,For-loop and object naming,<p>I'm making a for loop that will get 20 inpu...,c++
1,1,38968720,6438706.0,2016-08-16T07:15:33Z,NaN,-1,how use parse data into another controller in ...,<p>am now workng with codeigniter parse . am...,php mysql codeigniter parsing codeigniter-3
2,2,17901840,1270645.0,2013-07-27T19:48:44Z,NaN,1,Android - Missing File Error while foursquare ...,<p>While uploading the image on the foursquare...,android foursquare
3,3,36911990,648896.0,2016-04-28T10:30:23Z,NaN,1,What is this error raised by multiprocessing o...,<p>When I train my models with multiprocessing...,python scikit-learn joblib
4,4,7900230,281014.0,2011-10-26T08:18:03Z,NaN,0,Send data to server using jQuery $.ajax Post m...,<p>I use jQuery Ajax to send data to server. I...,jquery post
5,5,14774690,1021327.0,2013-02-08T14:26:02Z,NaN,0,Wordpress get posts,<p>Hello I'm trying to get the post content an...,php wordpress
6,6,36865550,6168629.0,2016-04-26T12:52:52Z,NaN,0,change spinner text color in java code/android?,<p>I have the following spinner xml code: </p>...,java android text colors spinner
7,7,4653120,179736.0,2011-01-11T00:44:26Z,NaN,0,How do I return something in JQuery?,"<pre><code>function vote_helper(content_id, th...",javascript jquery html
8,8,11584720,20654.0,2012-07-20T18:08:20Z,NaN,2,What's wrong with using https in a git repo?,"<p>I found this answer <a href=""http://stackov...",git
9,9,27829110,606371.0,2015-01-07T21:39:20Z,NaN,3,PostgreSQL return multiple rows with DISTINCT ...,<p>Lets says I have the following database tab...,sql postgresql select greatest-n-per-group